<div>
  <div class="card mb-4">
    <div>
      <img *ngIf="!picUrl" [src]="'data:image/jpeg;base64,'+drink.picture" alt="{{drink.id}}" class="card-img-top"/>
      <img [src]="picUrl" *ngIf="picUrl" class="card-img-top"/>
    </div>

    <p>Название</p>
    <input
      type="text"
      [(ngModel)]="drink.name">

    <p>Цена</p>
    <input
      type="number"
      min="0"
      max="1000"
      [(ngModel)]="drink.price">

    <p>Колличество</p>
    <input
      type="number"
      min="0"
      max="100"
      [(ngModel)]="drink.quantity">

    <p>Изображение</p>
    <input
      type="file"
      id="picture"
      class="file-upload"
      accept="image/jpeg"
      (change)="selectPicture($event.target.files[0])">

    <button
      (click)="onSubmit()"
      type="submit">Сохранить
    </button>

    <button
      (click)="onDelete()"
      type="button">Удалить
    </button>



    <!--    <form [formGroup]="drinkForm">-->
    <!--      <div class="form-group">-->
    <!--        <label for="name">Название</label>-->
    <!--        <input-->
    <!--          formControlName="name"-->
    <!--          id="name"-->
    <!--          required>-->

    <!--        <label for="price">Цена руб.</label>-->
    <!--        <input-->
    <!--          type="number"-->
    <!--          min="0"-->
    <!--          formControlName="price"-->
    <!--          id="price"-->
    <!--          required>-->

    <!--        <label for="quantity">Колличество шт.</label>-->
    <!--        <input-->
    <!--          type="number"-->
    <!--          min="0"-->
    <!--          formControlName="quantity"-->
    <!--          id="quantity"-->
    <!--          matInput>-->





    <!--      </div>-->
    <!--    </form>-->

  </div>
</div>
