<form (ngSubmit)="onSubmit()" [formGroup]="drinkFormControl">
  <mat-card-content class="container-fluid">
    <p>
      <mat-form-field>
        <mat-label>Название напитка</mat-label>
        <input formControlName="name" matInput type="text">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Цена</mat-label>
        <input formControlName="price" matInput type="number">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Колличество</mat-label>
        <input formControlName="quantity" matInput type="number">
      </mat-form-field>
    </p>
    <p>
      <img *ngIf="imgSrc" [src]="imgSrc" alt="" style="width: 200px;">
    </p>
    <mat-card-actions>
      <input
        (change)="selectPicture($event.target.files[0])"
        accept="image/jpeg"
        class="file-upload"
        type="file">
      <button *ngIf="type === 'edit'"
              [disabled]="!(drinkFormControl.valid && drinkFormControl.dirty)"
              mat-button
              type="submit">Сохранить
      </button>

      <button (click)="onDelete()"
              *ngIf="type === 'edit'"
              mat-button>Удалить
      </button>

      <button *ngIf="type === 'add'"
              [disabled]="!(drinkFormControl.valid)"
              [mat-dialog-close]="getDrinkFromForm()"
              mat-button>Добавить
      </button>

      <button *ngIf="type === 'add'" mat-button mat-dialog-close>Отмена</button>
    </mat-card-actions>
  </mat-card-content>
</form>
