<form [formGroup]="drinkFormControl" (ngSubmit)="onSubmit()">
  <mat-card-content>
    <p>
      <mat-form-field>
        <mat-label>Название напитка</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Цена</mat-label>
        <input type="number" matInput formControlName="price">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Колличество</mat-label>
        <input type="number" matInput formControlName="quantity">
      </mat-form-field>
    </p>
    <p>
      <img *ngIf="imgSrc" [src]="imgSrc" alt="" style="height: 200px; width: 200px;">
    </p>
    <mat-card-actions>
      <input
        type="file"
        class="file-upload"
        accept="image/jpeg"
        (change)="selectPicture($event.target.files[0])">
      <button *ngIf="type === 'edit'"
              mat-button
              type="submit"
              [disabled]="!(drinkFormControl.valid && drinkFormControl.dirty)">Сохранить</button>

      <button *ngIf="type === 'edit'"
              mat-button
              (click)="onDelete()">Удалить</button>

      <button *ngIf="type === 'add'"
              mat-button
              [disabled]="!(drinkFormControl.valid)"
              [mat-dialog-close]="getDrinkFromForm()">Добавить</button>

      <button *ngIf="type === 'add'" mat-button mat-dialog-close>Отмена</button>
    </mat-card-actions>
  </mat-card-content>
</form>
