
<div>

  <div class="row">
    <div class="col-lg-8">
      <app-drink-list
        (buyDoneEvent)="updateInfo()"
        [balance]="balance"
        [drinks]="drinks"></app-drink-list>
    </div>
    <div class="col-lg-4">
      <button [disabled]="!getCoinActive(1)" class="btn btn-dark ml-1" (click)="addCoin(1)">1</button>
      <button [disabled]="!getCoinActive(2)" class="btn btn-dark ml-1" (click)="addCoin(2)">2</button>
      <button [disabled]="!getCoinActive(5)" class="btn btn-dark ml-1" (click)="addCoin(5)">5</button>
      <button [disabled]="!getCoinActive(10)" class="btn btn-dark ml-1" (click)="addCoin(10)">10</button>

      <h2>Баланс: {{balance}}</h2>

    </div>
  </div>

</div>
