<div>

  <div class="row">
    <div class="col-lg-8">
      <app-drink-list
        (buyDoneEvent)="updateInfo()"
        [balance]="balance"
        [drinks]="drinks"></app-drink-list>
    </div>
    <div class="col-lg-4">
      <button (click)="addCoin(1)" [disabled]="!getCoinActive(1)" class="btn btn-dark ml-1">1</button>
      <button (click)="addCoin(2)" [disabled]="!getCoinActive(2)" class="btn btn-dark ml-1">2</button>
      <button (click)="addCoin(5)" [disabled]="!getCoinActive(5)" class="btn btn-dark ml-1">5</button>
      <button (click)="addCoin(10)" [disabled]="!getCoinActive(10)" class="btn btn-dark ml-1">10</button>

      <h2>Баланс: {{balance}}</h2>

    </div>
  </div>

</div>
